
body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #1F1F1F;
}
.container {
    max-width: 1130px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-flex {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 36px;
}
.nav-flex a {
    margin-right: 24px;
}
a {
    text-decoration: none;
    color: #33383F;
}
.sing-in {
    color: #0070A0;
    background: none;
    border: none;
}
.demo {
    color: #FFFFFF;
    background-color: #0070A0;
    padding: 6px 20px;
    border: none;
    font-size: 17px;
}
header .demo{
    font-size: 15px;
}
h1 {
    font-family: "Fraunces", serif;
    font-size: 58px;
    font-weight: 400;
    color: #1F1F1F;
}
.main-info-text {
    font-size: 20px;
    color: #1F1F1F;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main-info-buttons {
    display: flex;
    align-items: center;
}
.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto 120px auto;
}
.main-info-left {
    width: 525px;
}
.companies-text {
    margin: 0 auto;
    width: fit-content;
    font-size: 24px;
    margin-bottom: 25px;
}
li {
    list-style-type: none;
}
.companies-list {
    display: flex;
    justify-content: center;
}
.companies-list li {
    margin-right: 62px;
}
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 162px;
    margin-bottom: 120px;
}
.features div {
    padding: 32px 32px 40px 32px;
    width: 291px;
}
h2 {
    font-family: "Fraunces", serif;
    font-size: 25px;
    font-weight: 400;
}
.features-fast {
    background-color: #FAEA73;
}
.features-buck {
    background-color: #CCEFF6;
}
.features-safe {
     background-color: #F7CEDC;
}
.care {
    background-color: #F7F9FA;
    padding: 80px 0;
}
h4 {
    font-family: "Fraunces", serif;
    font-size: 42px;  
    font-weight: 400;
}
.care-title {
    width: 600px;
    margin: 0 auto 60px 0;
}
.care-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.care-block-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border: 1px solid #C2CDD8;
    border-left-style: none;
    border-right-style: none;
    margin-bottom: 1px;
}
.care-block-item-left {
    display: flex;
    align-items: start;
}
.care-block-item-text {
    margin-left: 20px;
}
.care-block-item-text h3 {
    font-family: "Fraunces", serif;
    font-size: 21px;
    margin: 0 0 18px 0;
    font-weight: 400;
}
.care-block-list {
    width: 450px;
}
.care-block-item button{
    border: none;
    background: none;
}
.care-block-img{
    width: 480px;
}
.about-title{
    width: 260px;
    margin: 0;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 120px auto;
}
.about-block{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.about-block-item{
    width: 220px;
}
.about-block-item:nth-child(2){
    margin: 0 30px 0 40px;
}
.track{
    background-color: #0070A0;
    padding: 80px 0;
    color: white;
}
.track-block{
    display: flex;
    justify-content: space-between;
}
.track-block-info{
    width: 400px;
}
.track-block-info h4{
    margin: 0 0 20px 0;
}
.track-block-list{
    padding-left: 25px;
}
.track-block-list li{
    list-style-image: url(assets/mark.svg);
}
.track-block-list li:nth-child(2){
    margin: 11px 0;
}
.track-block-info button{
    margin-top: 27px;
}
.automated-title{
    margin: 120px 0 21px 0;
}
.automated-text{
    width: 640px;
    font-size: 18px;
}
.automated-block{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 65px 0 120px 0;
}
.automated-block-item{
    width: 234.5px;
}
.automated-block-item h2{
    margin: 7px 0 13px 0;
}
.blog{
    background-color: #F7F9FA;
    padding: 80px 0;
}
.blog-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.blog-block{
    display: flex;
    justify-content: space-between;
}
.blog-block-item{
    width: 355px;
    background-color: #FFFFFF;
}
.blog-block-item-info{
    padding: 25px 0 28px 24px;
    width: 288px;
}
.blog-block-item-info h5{
    color: #2C90C9;
    background-color: #E6F7FF;
    padding: 2px 12px 4px 12px;
    font-size: 12px;
    width: fit-content;
}
.blog-block-item-info h2{
    margin: 8px 0 12px 0;
}
.blog-date{
    font-size: 12px;
    margin-top: 13px;
}
.start{
    background-color: #E6F7FF;
    padding: 64px 0 48px 64px;
    margin-top: 80px;
}
.start-text{
    font-size: 18px;
    margin: 21px 0 33px 0;
    width: 480px;
}
.start-items{
    display: flex;
    margin-top: 20px;
}
.start-items p{
    color: #626A72;
    font-size: 13px;
    margin-right: 36px;
}
.start-items p::before{
    content: url(assets/last_mark.svg);
}
.last-container-space-up{
    margin: 130px 0 64px 0;
    display: flex;
    justify-content: space-between;
}
.last-container-logo{
    width: 430px;
}
.last-container-logo-links{
    color: #0070A0;
}
.last-container-logo p{
    margin: 0;
}
.last-container-logo img{
    margin-bottom: 19px;
}
.last-container-nav a{
    display: block;
    color: #626A72;
    margin-bottom: 10px;
}
h6{
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 400;
}
.last-container-news{
    width: 220px;
}
.last-container-news input{
    border: none;
    outline: none;
    border-bottom: 1px solid #C2CDD8;
    padding: 17px 0 7px 15px;
}
.last-container-news button::after{
    content: url(assets/arrow.svg);
}
.last-container-news button{
    border: none;
    background: none;
}
.last-container-down{
    padding: 35px 0 32px 0;
    border-top: 1px solid #DEE5EB;
    display: flex;
    justify-content: space-between;
}
.last-container-social a{
    margin-right: 20px;
}
.last-container-logo-links{
    color: #0070A0;
}
.last-container-social{
    padding: 20px;
}